.left-arrow,
.right-arrow {
  font-size: 3rem;
  cursor: pointer;
  position: absolute;
  top: 40%;
}

.left-arrow {
  color: white;
  transform: translateX(-120%);
}

.right-arrow {
  left: 100%;
  color: white;
  transform: translateX(20%);
}

.left-arrow:hover,
.right-arrow:hover {
  scale: 1.05;
}

@media (max-width: 650px) {
  .left-arrow,
  .right-arrow {
    font-size: 1rem;
    top: 30%;
  }

  .left-arrow {
    transform: translateX(-95%);
  }
  
  .right-arrow {
    transform: translateX(0%);
  }
}

@media (min-width: 650px) and (max-width: 1100px) {
  .left-arrow,
  .right-arrow {
    font-size: 2rem;
    top: 30%;
  }

}
