.profile-info {
  width: 1100px;
  display: flex;
  flex-direction: row;
  padding-bottom: 5rem;
  border-bottom: 1px solid white;
}

.intro {
  width: 70%;
}

.img-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 30%;
}

.img-container img {
  width: 100%;
  height: fit-content;
  background-color: #242424;
}

.intro h2 {
  font-size: 5rem;
  font-weight: 700;
  width: 100%;
  margin-bottom: 2rem;
}

.intro span {
  text-decoration: underline;
  text-decoration-color: rgb(78, 225, 160);
}

.intro p {
  font-size: 1.2rem;
  width: 550px;
  color: rgb(217, 217, 217);
  font-weight: 500;
  line-height: 1.8rem;
  margin: 0;
}

.hyperlinks {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  margin-top: 3rem;
}

.hyperlinks p {
  font-size: 1rem;
  width: fit-content;
  padding-bottom: 0.2rem;
  border-bottom: 2px solid rgb(78, 225, 160);
  font-weight: 700;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.hyperlinks a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

@media (max-width: 650px) {
  .profile-info,
  .intro p {
    width: 100%;
  }

  .profile-info {
    padding-bottom: 3rem;
  }

  .intro h2 {
    font-size: 1rem;
    margin-bottom: 3rem;
  }

  .intro p {
    font-size: 0.8rem;
    width: 100%;
    line-height: normal;
    margin: 0;
  }

  .hyperlinks {
    gap: 0.4rem;
    margin-top: 2rem;
  }

  .hyperlinks a {
    font-size: 0.5rem;
    letter-spacing: normal;
  }

  .hyperlinks p {
    width: fit-content !important;
  }

  .img-container img {
    border-radius: 50%;
    aspect-ratio: 1;
    object-fit: contain;
  }
}

@media (min-width: 650px) and (max-width: 1200px) {
  .profile-info,
  .intro p {
    width: 100%;
  }

  .profile-info {
    padding-bottom: 5rem;
  }

  .intro h2 {
    font-size: 3rem;
    margin-bottom: 4rem;
  }

  .intro p {
    font-size: 1rem;
    width: 100%;
    line-height: 1.5rem;
    margin: 0;
  }

  .hyperlinks {
    gap: 2rem;
    margin-top: 4rem;
  }

  .hyperlinks a {
    font-size: 1.5rem;
    letter-spacing: 0.15rem;
  }

  .hyperlinks p {
    width: fit-content !important;
  }

  .img-container img {
    border-radius: 50%;
    aspect-ratio: 1;
    object-fit: contain;
  }
}
