.header::before {
  content: "";
  background-image: url("../../assets/pattern-rings.svg");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 530px;
  height: 180px;
  transform: translateX(-50%);
  z-index: -1;
}

@media (max-width: 650px) {
  .header::before {
    width: 375px;
    left: -20%;
    top: 20%;
    z-index: -1;
  }
}

@media (min-width: 650px) and (max-width: 1200px) {
  .header::before {
    left: 0;
    top: 0;
    transform: translateX(-50%);
    z-index: -1;
  }
}
