.footer:before {
  content: "";
  background-image: url("../../assets/pattern-rings.svg");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 35%;
  left: 0;
  width: 530px;
  height: 150px;
  transform: translateX(-50%);
  z-index: 0;
}

@media (max-width: 650px) {
  .footer::before {
    width: 375px;
    left: 0%;
    top: 45%;
  }
}

@media (min-width: 650px) and (max-width: 1200px) {
  .footer::before {
    width: 530px;
    left: 0;
    top: 20%;
    z-index: 0;
  }
}
