.footer {
  position: relative;
  width: 100%;
  background-color: rgb(36, 36, 36);
  padding: 5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.footer:before {
  content: "";
  background-image: url("../../assets/pattern-rings.svg");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 5%;
  top: 50%;
  transform: translateX(-40%);
  width: 20%;
  height: 40%;
  z-index: 0;
}

.footer div {
  width: 1100px;
}

.footer h1 {
  font-size: 4.5rem;
  font-weight: 500;
  letter-spacing: -0.2rem;
  margin: 0;
  margin-bottom: 2rem;
}

.footer h2 {
  font-size: 2rem;
  font-weight: 500;
  margin: 0;
}

.footer p {
  font-size: 1.1rem;
  width: 450px;
  line-height: 28px;
  color: lightgray;
  margin: 0;
}

.footer a {
  border: 0;
}

.contact-text {
  padding-bottom: 4rem;
  border-bottom: 1px solid lightgray;
}

.contact-email {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
}

.contact-email span {
  font-size: 1.1rem;
  letter-spacing: 2px;
  color: lightgray;
}

.contact-email ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  width: 100%;
  justify-content: right;
  gap: 1rem;
}

.contact-email img {
  width: 2rem;
  background-color: white;
}

@media (max-width: 650px) {
  .footer-div,
  .footer p,
  .contact-text,
  .contact-email,
  .footer h1 {
    width: 100% !important;
  }

  .footer {
    padding: 5%;
  }

  .footer h1 {
    font-size: 1.5rem;
    letter-spacing: normal;
    margin-bottom: 1rem;
  }

  .contact-text p{
    font-size: 0.8rem;
    line-height: normal;
  }

  .contact-email {
    margin-top: 0.2rem;
  }

  .contact-email ul {
    gap: 1rem;
    padding-left: 0;
  }

  .contact-email span {
    font-size: 0.8rem;
    letter-spacing: normal;
  }

  .contact-email img {
    width: 1.5rem;
  }

  .footer:before {
    left: -30%;
    top: 45%;
    width: 100%;
    height: 50%;
    z-index: 0;
  }
}

@media (min-width: 650px) and (max-width: 1100px) {
  .footer-div,
  .contact-text,
  .contact-email,
  .footer h1 {
    width: 100% !important;
  }

  .footer {
    padding: 5%;
  }

  .footer h1 {
    font-size: 3rem;
    letter-spacing: -0.1rem;
    margin-bottom: 3rem;
  }

  .footer p {
    width: 60%;
  }

  .contact-text {
    padding-bottom: 7rem;
  }

  .contact-email {
    margin-top: 0.5rem;
  }

  .contact-email span {
    font-size: 1.2rem;
    letter-spacing: 0.15rem;
  }

  .contact-email img {
    width: 2rem;
  }

  .footer:before {
    left: -20%;
    top: 40%;
    width: 100%;
    height: 50%;
  }
}
